//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
       

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>


/ {
        combos {
                compatible = "zmk,combos";
                combo_esc {
                        timeout-ms = <50>;
                        key-positions = <19 20>;
                        bindings = <&kp ESC>;
                };
                combo_tab {
                        timeout-ms = <50>;
                        key-positions = <13 14>;
                        bindings = <&kp TAB>;
                };
                combo_bspc {
                        timeout-ms = <50>;
                        key-positions = <15 16>;
                        bindings = <&kp BSPC>;
                };
        };

        behaviors {
                td0: open_parent_mod_tap {
                        compatible = "zmk,behavior-tap-dance";
                        #binding-cells = <0>;
                        tapping-term-ms = <400>;
                        bindings = <&kp LPAR>, <&kp LBKT>, <&kp LBRC>;
                };
                td1: close_parent_mod_tap {
                        compatible = "zmk,behavior-tap-dance";
                        #binding-cells = <0>;
                        tapping-term-ms = <400>;
                        bindings = <&kp RPAR>, <&kp RBKT>, <&kp RBRC>;
                };
                td2: quote_mod_tap {
                        compatible = "zmk,behavior-tap-dance";
                        #binding-cells = <0>;
                        tapping-term-ms = <400>;
                        bindings = <&kp SINGLE_QUOTE>, <&kp DQT>, <&kp GRAV>;
                };
                ht_hp: hold_tap_hp {
                        compatible = "zmk,behavior-hold-tap";
                        #binding-cells = <2>;
                        flavor = "hold-preferred";
                        tapping-term-ms = <200>;
                        quick-tap-ms = <50>;
                        require-prior-idle-ms = <0>;
                        bindings = <&kp>, <&kp>;
                };
                ht_tp: hold_tap_tp {
                        compatible = "zmk,behavior-hold-tap";
                        #binding-cells = <2>;
                        flavor = "tap-preferred";
                        tapping-term-ms = <200>;
                        quick-tap-ms = <50>;
                        require-prior-idle-ms = <0>;
                        bindings = <&kp>, <&kp>;
                };
                ht_tp_ret: retro_hold_tap {
                        compatible = "zmk,behavior-hold-tap";
                        #binding-cells = <2>;
                        flavor = "tap-preferred";
                        tapping-term-ms = <200>;
                        quick-tap-ms = <50>;
                        require-prior-idle-ms = <0>;
                        bindings = <&kp>, <&kp>;
                        retro-tap;
                };
        };
        
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |      |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  |      |
// |      |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |      |
// |      |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  |      |
//                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |
                        bindings = <
             &kp Q   &kp W         &kp E    &kp R          &kp T                 &kp Y   &kp U          &kp I     &kp O          &kp P                  
             &kp A   &ht_tp LALT S &kp D    &ht_tp LCTRL F &kp G                 &kp H   &ht_tp RCTRL J &kp K     &ht_tp LALT L  &ht_tp LGUI SEMI   
   &mo 4     &kp Z   &kp X         &kp C    &kp V          &kp B                 &kp N   &kp M          &kp COMMA &kp DOT        &kp FSLH              &none
                                   &kp BSPC &mo 1          &ht_hp LSHIFT SPC     &kp RET &mo 2          &kp DEL
                        >;
                };
                number_nav_layer {
// -----------------------------------------------------------------------------------------
// |      |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  |      |
// |      | BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
              &none      &none       &kp N7       &kp N8       &kp N9         &none    &none    &none      &none     &none  
              &none      &none       &kp N4       &kp N5       &kp N6         &kp LEFT &kp DOWN &kp UP     &kp RIGHT &none  
   &trans     &none      &kp N0      &kp N1       &kp N2       &kp N3         &none    &kp DOT  &kp EQUAL  &kp MINUS &none &trans
                                     &trans       &trans       &trans         &trans   &mo 3    &trans
                        >;
                };

                symbol_layer {
// -----------------------------------------------------------------------------------------
// |      |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  |      |
// |      |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |      |
// |      |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |      |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
            &kp EXCL  &kp AT     &kp HASH   &kp DLLR   &kp PRCNT       &kp CARET &kp AMPS  &kp ASTRK &kp LPAR &kp RPAR  
            &none     &none      &none      &kp TILDE  &none           &kp MINUS &kp EQUAL &td0      &td1     &kp BSLH  
   &trans   &none     &none      &none      &none      &none           &kp UNDER &kp PLUS  &td2      &kp RBRC &kp PIPE &trans
                                 &trans     &mo 3      &trans          &trans    &trans    &trans
                        >;
                };

                system_layer {
                        bindings = <
            &none     &none              &kp F7     &kp F8  &kp F9      &kp F10  &kp F11  &kp F12    &none &none   
            &none     &none              &kp F4     &kp F5  &kp F6      &kp INS  &kp HOME &kp PG_UP  &none &none   
   &trans   &none     &studio_unlock     &kp F1     &kp F2  &kp F3      &kp DEL  &kp END  &kp PG_DN  &none &none  &trans
                                         &trans     &trans  &trans      &trans  &trans &trans
                        >;
                };
        };
        
};
